@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
@import './calendar';

@tailwind base;
@tailwind components;
@tailwind utilities;

.customized-scrollbar::webkit-scrollbar {
    width: 5px;
    background: #A5BAD0;
}

.customized-scrollbar::webkit-scrollbar-thumb {
    width: 5px;
    background: red;
}